# Renombra este archivo a .env y rellena con tus datos de conexión a la base de datos local
# Para Render, esta variable se configura en el panel de control.
DATABASE_URL=postgresql://biblioadmin_user:za8gYoLvRFuMCoRTx9xzswvK7RMw9KUW@dpg-d21c2gngi27c73doea70-a.ohio-postgres.render.com/biblioadmin_db_yduz